* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  border: none;
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.165);
}

nav a {
  text-decoration: none;
}

nav .to-reddit {
  border-radius: 50px;
  padding: 10px 14px;
  background-color: rgb(85, 85, 236);
  color: white;
}

nav .to-reddit:hover {
  background-color: rgb(60, 60, 239);
  cursor: pointer;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 6vh;
  margin-right: 5px;
}

.logo h1 {
  font-size: 20px;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 20px;
  height: 100vh;
}

.subreddits {
  margin: 24px 30px 25px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  font-size: 16px;
  height: auto;
  align-self: start;
  min-height: 100vh;
}

.subreddits h3 {
  margin: 16px auto 16px 20px;
}

.subreddits ul {
  margin-left: 30px;
}

.subreddits li {
  list-style: circle;
  padding-bottom: 5px;
}


